@page
@model fbognini.i18n.Dashboard.i18n.Pages.TextModel
@{
    Layout = "_i18nLayout.cshtml";
}

@section Styles{

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    
    <link rel="stylesheet" href="/_content/fbognini.i18n.Dashboard/lib/Editor-2.0.5/css/editor.bootstrap5.css">
}


<h1>Testi</h1>

<div class="row">
    <table id="texts-table" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
        <thead>
            <tr>
                <th>Testo</th>
                <th>Risorsa</th>
                <th>Descrizione</th>
                <th>Data creazione</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.3/dataRender/datetime.js"></script>
    <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

    <script src="/_content/fbognini.i18n.Dashboard/js/fbognini-pagination-1.0.1.js"></script>
    <script src="/_content/fbognini.i18n.Dashboard/lib/Editor-2.0.5/js/dataTables.editor.js"></script>
    <script src="/_content/fbognini.i18n.Dashboard/lib/Editor-2.0.5/js/editor.bootstrap5.js"></script>

    <script>
        let table;
        let editor;
        
        $(document).ready(function () {
            initializeDatatable();

            $("#submit-form-btn").on("click", function () {
                table.ajax.reload();
            });
        });

        function initializeDatatable() {
            editor = new $.fn.dataTable.Editor({
                idSrc: "id",
                ajax: {
                    create: restCreateEditorDatatables('@Url.Action("Create", "ApiText")'),
                    remove: function (_, _, d, success, error) {

                        var queryParams = Object.values(d.data).map(item => "ids=" + item["id"]).join("&");
                        restRemoveEditorDatatablesInner(url + "?" + queryParams, d, success, error, options);
                    },
                },
                table: $("#texts-table"),
                fields: [
                    {
                        label: "Testo*",
                        name: "textId",
                    },
                    {
                        label: "Risorsa*",
                        name: "resourceId",
                    },
                    {
                        label: "Descrizione",
                        name: "description",
                    },
                ]
            })
            .on("preSubmit", function (e, data, action) {
                if (action !== 'remove') {
                    let textId = this.field('textId');
                    if (!textId.isMultiValue()) {
                        if (!textId.val()) {
                            textId.error('Testo obbligatorio');
                        }
                    }

                    let resourceId = this.field('resourceId');
                    if (!resourceId.isMultiValue()) {
                        if (!resourceId.val()) {
                            resourceId.error('Risorsa obbligatorio');
                        }
                    }

                    if (this.inError()) {
                        return false;
                    }
                }
            });
            
            table = $('#texts-table').DataTable({
                dom: 'Bfrtip',
                stateSave: false,
                searching: false,
                ajax: function (data, callback, settings) {
                    let url = '@Url.Action("Search", "ApiText")?languageId='+ $("#language-filter").val() + "&textId=" + $("#text-filter").val();
                    var func = fullSearchDatatables(url);
                    func(data, callback, settings);
                },
                order: [[0, "desc"]],
                // Columns Setups
                columns: [
                    { data: "textId" },
                    { data: "resourceId" },
                    { data: "description" },
                    { data: "created" },
                ],
                buttons: [
                    {
                        text: "Nuovo",
                        extend: "create",
                        editor: editor
                    },
                    //{
                    //    text: "Modifica",
                    //    extend: "editSingle",
                    //    editor: editor
                    //}
                ],

            });
        }
    </script>
}